$main-background-color: hsl(0, 0, 99%);
$main-text-color:  hsl(0, 0, 10%);
$light-text-color: hsl(0, 0, 30%);
$lighter-text-color: hsl(0, 0, 45%);
$dark-text-color: hsl(0, 0, 5%);
$light-border-color: hsl(0, 0, 80%);
$underline-color: hsl(0, 0, 60%);
$box-background-color: hsl(0, 0, 95%);
$highlight-color: hsl(0, 0, 60%);

{% raw %}{% include main.scss %}{% endraw %}